/* General */

* {
    font-family: 'Roboto';
}

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header{
    background-color: white;
    border-bottom: 1px solid #CCC;
}

.row{
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary{
    background-color: #f2a340;
    border: 2px solid #C28008;
}

.btn-primary:hover{
    background-color: #C28008;
    border-color: #C28008;
}

.msg{
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}


/* navbar */

#navbar img {
    width: 40px;
}

#navbar{
    justify-content: space-between;
    background-color: white;
    padding: 5px 0;
}

#navbar a{
    font-size: 14px;
    color: #757575;
}

#navbar a:hover{
    color: #f2a340;
}

/* Search container */

#search-container{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1{
    color: white;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form{
    width: 50%;
    margin: 0 auto;
}

/* Events list */
#registers-container{
    padding: 50px;
}

#registers-container h2{
    margin-bottom: 10px;
}

#cards-container{
    display: flex;
}

#registers-container .card{
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}

#registers-container img{
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date{
    font-size: 12px;
    color: #CCC;
}

.card .card-title{
    color: 212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants{
    font-size: 14px;
    color: #757575;
}

/* Register Page */
#image-container,
#info-container{
    margin-top: 30px;
}

#image-container img{
    border-radius: 10px;
}

#info-container h1{
    font-size: 36px;
    font-weight: 900;
}

#info-container p{
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container h3{
    font-size: 20px;
    font-weight: bold;
}

#info-container ion-icon{
    font-size: 20px;
    color: #f2a340;
    margin-right: 5px;
}

#info-container #register-submit{
    margin: 20px 0;
}

/* Dashboard */
.dashboard-title-container{
    margin-bottom: 30px;
    margin-top: 30px;
}

.dashboard-registers-container th{
    width: 25%;
}

.dashboard-registers-container form{
    display: inline-block;
}

/* Edit page */
.img-preview{
    width: 100px;
    margin-top: 20px;
}

/* footer */
footer{
    text-align: center;
    background-color: #353e48;
    color: #FFF;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
  margin-bottom: 0;
}

/* Register user page */
#register-create-container{
    padding: 30px;
}

#register-create-container label{
    font-weight: bold;
}

#register-create-container input{
    font-size: 12px;
}



